In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [2]:
data = pd.read_excel("gazete.xlsx")
data.head()

  kategori                                             icerik
0  magazin  SAPIĞIN BİLE GURURSUZU BANA DENK GELDİ Ece Erk...
1  magazin  Çekim dönüşü Kenan İmirzalıoğlu, geçtiğimiz ak...
2  magazin  Paylaştığı fotoğraf Twitter'da olay oldu! Vict...
3  magazin  DANIŞTAY, 5 DAKİKA SEVİŞMEYİ UZUN BULDU Danışt...
4  magazin  Yağmur ve Emre dudak dudağa Kanal D'nin yeni y...

In [3]:
#buyuk-kucuk donusumu
data['icerik'] = data['icerik'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [4]:
data.head()

  kategori                                             icerik
0  magazin  sapiğin bi̇le gurursuzu bana denk geldi̇ ece e...
1  magazin  çekim dönüşü kenan i̇mirzalıoğlu, geçtiğimiz a...
2  magazin  paylaştığı fotoğraf twitter'da olay oldu! vict...
3  magazin  daniştay, 5 daki̇ka sevi̇şmeyi̇ uzun buldu dan...
4  magazin  yağmur ve emre dudak dudağa kanal d'nin yeni y...

In [5]:
#noktalama işaretleri
data['icerik'] = data['icerik'].str.replace('[^\w\s]','')

In [6]:
data.head()

  kategori                                             icerik
0  magazin  sapiğin bile gurursuzu bana denk geldi ece erk...
1  magazin  çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...
2  magazin  paylaştığı fotoğraf twitterda olay oldu victor...
3  magazin  daniştay 5 dakika sevişmeyi uzun buldu danışta...
4  magazin  yağmur ve emre dudak dudağa kanal dnin yeni yı...

In [7]:
#sayılar
data['icerik'] = data['icerik'].str.replace('\d','')

In [8]:
data.head()

  kategori                                             icerik
0  magazin  sapiğin bile gurursuzu bana denk geldi ece erk...
1  magazin  çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...
2  magazin  paylaştığı fotoğraf twitterda olay oldu victor...
3  magazin  daniştay  dakika sevişmeyi uzun buldu danıştay...
4  magazin  yağmur ve emre dudak dudağa kanal dnin yeni yı...

In [10]:
nltk.download("punkt")

NameError: name 'nltk' is not defined

In [11]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('turkish')
data['icerik'] = data['icerik'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Onur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
data.head()

  kategori                                             icerik
0  magazin  sapiğin bile gurursuzu bana denk geldi ece erk...
1  magazin  çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...
2  magazin  paylaştığı fotoğraf twitterda olay oldu victor...
3  magazin  daniştay dakika sevişmeyi uzun buldu danıştay ...
4  magazin  yağmur emre dudak dudağa kanal dnin yeni yılda...

In [13]:
data.tail(20)

       kategori                                             icerik
5557  teknoloji  assassins creed black flag geliyor popüler vid...
5558  teknoloji  doodle google logo yarışması başlıyor googleın...
5559  teknoloji  robot savaşları mümkün günümüzde insansız sava...
5560  teknoloji  chrome yenilendi chromeun son final sürümü yay...
5561  teknoloji  dünyanın yeni korkusu siber savaş hafta önce m...
5562  teknoloji  osmanlının savaşları oyun oluyor osmanlı impar...
5563  teknoloji  insan beyninin ayrıntılı görüntüleri yayınland...
5564  teknoloji  merkel cebitte selocanın elini sıktı turkcelli...
5565  teknoloji  meclis cep telefonuna sığdırıldı milletvekille...
5566  teknoloji  binlerce hesap resetlendi twitter güvenlik ned...
5567  teknoloji  photoshopun yeni mobil sürümü yayında yeni uyg...
5568  teknoloji  iki kuyruklu yıldız aynı karede gökyüzünde sır...
5569  teknoloji  galaxy se gözle kontrol geliyor bir samsung ye...
5570  teknoloji  apple iphone hangi isimleri düşünmüş iphone pi...
5571  teknoloji  samsung galaxy note güvenlik açığı galaxy note...
5572  teknoloji  microsofta rağır ceza ab komisyonu microsofta ...
5573  teknoloji  microsofta ağır ceza ab komisyonu microsofta m...
5574  teknoloji  bizi bizden iyi tanıyorlar ellerinde müthiş ve...
5575  teknoloji  facebook paralı oldu facebookta arkadaş listen...
5576  teknoloji  samsunga karşı güç birliği nokia küresel elekt...

In [14]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['icerik']).split()).value_counts()[-1000:]
data['icerik'] = data['icerik'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [15]:
data.tail(20)

       kategori                                             icerik
5557  teknoloji  assassins creed black flag geliyor popüler vid...
5558  teknoloji  doodle google logo yarışması başlıyor googleın...
5559  teknoloji  robot savaşları mümkün günümüzde insansız sava...
5560  teknoloji  chrome yenilendi chromeun son final sürümü yay...
5561  teknoloji  dünyanın yeni korkusu siber savaş hafta önce m...
5562  teknoloji  osmanlının savaşları oyun oluyor osmanlı impar...
5563  teknoloji  insan beyninin ayrıntılı görüntüleri yayınland...
5564  teknoloji  merkel cebitte elini sıktı turkcellin maskotu ...
5565  teknoloji  meclis cep telefonuna sığdırıldı milletvekille...
5566  teknoloji  binlerce hesap twitter güvenlik nedeniyle gerç...
5567  teknoloji  photoshopun yeni mobil sürümü yayında yeni uyg...
5568  teknoloji  iki kuyruklu yıldız aynı karede gökyüzünde sır...
5569  teknoloji  galaxy se gözle kontrol geliyor bir samsung ye...
5570  teknoloji  apple iphone hangi isimleri iphone piyasaya çı...
5571  teknoloji  samsung galaxy note güvenlik açığı galaxy note...
5572  teknoloji  microsofta rağır ceza ab komisyonu microsofta ...
5573  teknoloji  microsofta ağır ceza ab komisyonu microsofta m...
5574  teknoloji  bizi bizden iyi tanıyorlar ellerinde müthiş ve...
5575  teknoloji  facebook paralı oldu facebookta arkadaş listen...
5576  teknoloji  samsunga karşı güç birliği nokia küresel elekt...

In [16]:
docs = data['icerik']
docs = docs.map(lambda x: x.strip())

In [17]:
data.tail(20)

       kategori                                             icerik
5557  teknoloji  assassins creed black flag geliyor popüler vid...
5558  teknoloji  doodle google logo yarışması başlıyor googleın...
5559  teknoloji  robot savaşları mümkün günümüzde insansız sava...
5560  teknoloji  chrome yenilendi chromeun son final sürümü yay...
5561  teknoloji  dünyanın yeni korkusu siber savaş hafta önce m...
5562  teknoloji  osmanlının savaşları oyun oluyor osmanlı impar...
5563  teknoloji  insan beyninin ayrıntılı görüntüleri yayınland...
5564  teknoloji  merkel cebitte elini sıktı turkcellin maskotu ...
5565  teknoloji  meclis cep telefonuna sığdırıldı milletvekille...
5566  teknoloji  binlerce hesap twitter güvenlik nedeniyle gerç...
5567  teknoloji  photoshopun yeni mobil sürümü yayında yeni uyg...
5568  teknoloji  iki kuyruklu yıldız aynı karede gökyüzünde sır...
5569  teknoloji  galaxy se gözle kontrol geliyor bir samsung ye...
5570  teknoloji  apple iphone hangi isimleri iphone piyasaya çı...
5571  teknoloji  samsung galaxy note güvenlik açığı galaxy note...
5572  teknoloji  microsofta rağır ceza ab komisyonu microsofta ...
5573  teknoloji  microsofta ağır ceza ab komisyonu microsofta m...
5574  teknoloji  bizi bizden iyi tanıyorlar ellerinde müthiş ve...
5575  teknoloji  facebook paralı oldu facebookta arkadaş listen...
5576  teknoloji  samsunga karşı güç birliği nokia küresel elekt...

In [18]:
stop_word_list = nltk.corpus.stopwords.words('turkish')
def token(values):
    filtered_words = [word for word in values.split() if word not in stop_word_list]
    not_stopword_doc = " ".join(filtered_words)
    return not_stopword_doc

In [19]:
data.head()

  kategori                                             icerik
0  magazin  sapiğin bile gurursuzu bana geldi ece erken so...
1  magazin  çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...
2  magazin  paylaştığı fotoğraf twitterda olay oldu victor...
3  magazin  daniştay dakika sevişmeyi uzun buldu danıştay ...
4  magazin  yağmur emre dudak dudağa kanal dnin yeni yılda...

In [24]:
stop_word_list

['acaba',
 'ama',
 'aslında',
 'az',
 'bazı',
 'belki',
 'biri',
 'birkaç',
 'birşey',
 'biz',
 'bu',
 'çok',
 'çünkü',
 'da',
 'daha',
 'de',
 'defa',
 'diye',
 'eğer',
 'en',
 'gibi',
 'hem',
 'hep',
 'hepsi',
 'her',
 'hiç',
 'için',
 'ile',
 'ise',
 'kez',
 'ki',
 'kim',
 'mı',
 'mu',
 'mü',
 'nasıl',
 'ne',
 'neden',
 'nerde',
 'nerede',
 'nereye',
 'niçin',
 'niye',
 'o',
 'sanki',
 'şey',
 'siz',
 'şu',
 'tüm',
 've',
 'veya',
 'ya',
 'yani']

In [20]:
data["kategori_id"] = data["kategori"].factorize()[0]

In [20]:
data.head()

  kategori                                             icerik  kategori_id
0  magazin  sapiğin bile gurursuzu bana denk geldi ece erk...            0
1  magazin  çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...            0
2  magazin  paylaştığı fotoğraf twitterda olay oldu victor...            0
3  magazin  daniştay dakika sevişmeyi uzun buldu danıştay ...            0
4  magazin  yağmur emre dudak dudağa kanal dnin yeni yılda...            0

In [24]:
X = data["icerik"]
y = data["kategori_id"]

In [25]:
X

0       sapiğin bile gurursuzu bana geldi ece erken so...
1       çekim dönüşü kenan imirzalıoğlu geçtiğimiz akş...
2       paylaştığı fotoğraf twitterda olay oldu victor...
3       daniştay dakika sevişmeyi uzun buldu danıştay ...
4       yağmur emre dudak dudağa kanal dnin yeni yılda...
                              ...
5572    microsofta rağır ceza ab komisyonu microsofta ...
5573    microsofta ağır ceza ab komisyonu microsofta m...
5574    bizi bizden iyi tanıyorlar ellerinde müthiş ve...
5575    facebook paralı oldu facebookta arkadaş listen...
5576    samsunga karşı güç birliği nokia küresel elekt...
Name: icerik, Length: 5577, dtype: object

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [27]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
loj = linear_model.LogisticRegression()
loj_model = loj.fit(X_train, y_train)
accuracy = model_selection.cross_val_score(loj_model, 
                                           X_test, 
                                           y_test, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

ValueError: could not convert string to float: 'kıvançın rolü sınavı var kıvanç tatlıtuğ songül öden te başrolü paylaşmıştı dizi yıldır ortadoğuda gösteriliyor arap ülkesinde yayın yapan mbc milyon izleyiciye iyi türk dizi'

In [28]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),
                    ('tfidf', TfidfTransformer()),
                    ('clf', MultinomialNB()),
                     ])

In [29]:
text_clf.fit(X_train, y_train)
text_clf.score(X_test, y_test)

0.8696360673546986

In [30]:
y_pred = text_clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       393
           1       0.84      0.88      0.86       340
           2       0.99      0.91      0.94       292
           3       0.82      0.92      0.87       327
           4       0.85      0.83      0.84       299
           5       0.97      0.72      0.83       190

    accuracy                           0.87      1841
   macro avg       0.88      0.86      0.87      1841
weighted avg       0.88      0.87      0.87      1841

In [31]:
import joblib

In [32]:
#modeli kaydetmek

joblib.dump(text_clf, "gazete_model.pkl")

['gazete_model.pkl']

In [33]:
NB_gazete_model = open("gazete_model.pkl","rb")
model = joblib.load(NB_gazete_model)

In [34]:
text = """Wesley Sneijder Galatasaray'a yardımcı antrenör olarak geri dönüyorGalatasaray'da Hasan Şaş'ın istifasının ardından boşalan yardımcı antrenörlük görevine sarı kırmızılıların eski yıldızı Wesley Sneijder'in getirileceği iddia edildi."""

In [35]:
veri=[text]

In [36]:
print(model.predict(veri)[0])

2